{
  "timezone": "Eastern Standard Time",
  {{- if eq .chezmoi.hostname "homelab-dev" }}
  "wslDistributions": [
    {
      "name": "dev",
      "source": "Ubuntu",
      "default": true
    }
  ],
  "chocolateyPackages": [
    "Boxstarter",
    "npiperelay"
  ],
  "wingetPackages": [
    "7zip.7zip",
    "Balena.Etcher",
    "GitHub.GitHubDesktop",
    "Google.Chrome",
    "Microsoft.Office",
    "Microsoft.OneDrive",
    "Microsoft.OpenSSH.Beta",
    "Microsoft.PowerToys",
    "Microsoft.VisualStudioCode",
    "Microsoft.WindowsTerminal",
    "Mozilla.Firefox",
    "Postman.Postman",
    "RaspberryPiFoundation.RaspberryPiImager",
    "SlackTechnologies.Slack",
    "Spotify.Spotify",
    "Yubico.YubikeyManager",
    "Zoom.Zoom"
  ],
  {{- else }}
  "wingetPackages": [
    "7zip.7zip",
    "Google.Chrome",
    "Microsoft.PowerToys",
    "Microsoft.WindowsTerminal",
    "Microsoft.PowerShell",
    "Microsoft.VisualStudioCode"
  ],
  {{- end }}
  "msStoreApps": [
    "Trello:9NBLGGH4XXVW"
  ],
  "shortcuts": [
    {{- if eq .chezmoi.hostname "homelab-dev" }}
    {
      "source": "$env:LocalAppData/Programs/Microsoft VS Code/Code.exe",
      "target": "$HOME/vsc.lnk"
    },
    {{- end }}
    {
      "source": "$env:ProgramFiles/Notepad++/notepad++.exe",
      "target": "$HOME/npp.lnk"
    }
  ],
  "quickAccessItems": [
    "$HOME"
  ],
  "windowsPreferences": [
    "showHiddenFiles",
    "showFileExtensions",
    "openToThisPC",
    "alwaysShowRightClickContextMenu",
    "disableSnapAssist",
    "disableTaskBarTaskView",
    "disableTaskBarMessenger",
    "disableTaskBarWidgets",
    "disableTaskBarSearch"
    {{- if eq .chezmoi.hostname "homelab-dev" }},
    "enableRemoteDesktop"
    {{- end }}
  ]
  {{- if eq .chezmoi.hostname "homelab-dev" }},
  "sshKeys": [
    "$HOME/.ssh/homelab"
  ]
  {{- end }}
}
